/* #fe4b68 */
.blogs{
    padding: 10px 15px;
}

.timeStamp{
    font-size: 10px;
    display: block;
}
.blog__main{
    padding: 50px 50px;
    box-shadow: 0px 0px 1.80px 0px rgb(0 0 0 / 5%);
}
.blog__title{
    font-weight: 700;
    font-size: 28px;
    
}
.blog__image{
    width: 50%;
   
    margin-bottom: 40px;
}
.blog__body{
    /* padding-right: 10px; */
    font-size: 16px;
}
.comment{
    padding:10px;
}
.comment-card{
    display: block;
}
@media (max-width:900px) {
    .blog__image{
        width: 100%;  
        margin-bottom: 10px;     
}
.blog__title{
    font-size: 20px; 
}
.blog__main{
    padding: 10px 5px;
  
}
}